//  Colours
$pink: #da115e;
$purple: #512e67;
$backgroundColor: #fff;
$lightBlue: #c1f4ed;

//  Banner size
$width: 200px;
$height: 200px;

html {
    box-sizing: border-box;
}

*,
*:before,
*:after {
    box-sizing: border-box;
}
